
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #082032;
    padding: 1rem 5%;
}
.header img{
    width:15rem;
    filter:  brightness(.5) invert(1);
}
nav a{
    text-decoration: none;
    color: white;
    font-size:2rem;
    font-weight: 500;
    padding: 1rem 1rem;
}
nav a:hover{
    background: #ff6a00;
}
.search input{
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
}
.search button{
    padding: 1rem 1.5rem;
    border-radius: 0rem 1rem 1rem 0rem;
    background: #ff6a00;
    color: white;
    font-weight: bold;
}


@media (max-width:750px){
    .header{
        flex-direction: column;
        padding: 1rem 1%;
    }
}